body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
}

.container {
  line-height: 0.5;
  border: 1px solid black;
  background-color: #f4e8d3;
  margin: 10px;
  padding: 15px;
}

.container:hover {
  background-color: #67ba80;
}

.container p:first-of-type {
  font-size: 20px;
}
